
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff); 
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .quiz-container {
    max-width: 630px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .quiz-header {
    margin-bottom: 20px;
  }
  
  .quiz-header h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: gray;
  }
  .Secoure-game
  {
   padding-right: 5px; 
  }
  .timer {
    font-size: 18px;
    margin-bottom: 10px;
    color: darkcyan;
    /* padding-right: 0px; */
    
  }
  .Secoure {
    font-size: 18px;
    margin-bottom: 10px;
    color: darkcyan;
    
  }
  .question {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .questions {
    font-size: 20px;
    margin-bottom: 10px;
    color: gray;
  }
  
  .options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .option {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #0056b3;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  .controls button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .controls button:hover {
    background-color: #218838;
  }
  /* .quiz-game
  {
    font-size: 20px;
  } */
  .correct-answer {
    color: white;
    background-color: red;
    font-weight: bold;
  }
  .rong-answer {
    color: white;
    background-color: black;
    font-weight: bold;
  }